<div class="govuk-width-container">
    <div class="govuk-width-row feedback-prompt">
    <h2 class="feedback-prompt-text feedback-container">
        <div class="govuk-label govuk-label--s">Is this page useful?</div>
        <a id="feedbackYes" href="{{ "https://www.smartsurvey.co.uk/s/TPWESZ/?url=" + pageUrl }}" class="govuk-button govuk-button--secondary" target="_blank">Yes (opens in new tab)</a>
        <a id="feedbackNo" href="{{ "https://www.smartsurvey.co.uk/s/XODLID/?url=" + pageUrl }}" class="govuk-button govuk-button--secondary" target="_blank">No (opens in new tab)</a>
    </h2>
    </div>
</div>
