<div class="technical-updates-banner moj-hidden" id="technical-updates-banner" data-banner-version="{{ lastTechnicalUpdate }}">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-body technical-updates-container govuk-!-margin-bottom-0">
                    <div class="technical-updates-content">
                        <strong class="technical-updates-whats-new">
                            Compliance page temporarily unavailable
                        </strong>
                        <span>
            The Compliance page is temporarily unavailable while we make some improvements. We’ll let you know as soon as it’s available again.
                        </span>
                    </div>
                    <a id="hide-message" class="technical-updates-hide-message govuk-link" href="#" aria-current="page">Hide message</a>
                </div>
            </div>
        </div>
    </div>
</div>