{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet"/>
    {% endfor %}
  {% else %}
    <link href="{{ '/assets/css/fallback_prob_fe_app_header.css' | assetMap }}" nonce="{{ cspNonce }}" rel="stylesheet"/>
    <link href="{{ '/assets/css/fallback_prob_fe_app_footer.css' | assetMap }}" nonce="{{ cspNonce }}" rel="stylesheet"/>
  {% endif %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./prob_fe_header.njk" %}
  {% block banner %}{% endblock %}
{% endblock %}

{% block footer %}
  {% if not hideSurveyUsefulSections %}
    {% include "./_survey-useful.njk" %}
  {% endif %}
  {% include "./prob_fe_footer.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script  type="module" src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% else %}
    <script type="module" src="{{ '/assets/js/fallback_prob_fe_app.js' | assetMap }}" nonce="{{ cspNonce }}"></script>
  {% endif %}
  <script nonce="{{ cspNonce }}">
    window.csrfToken = "{{ csrfToken }}";
  </script>
{% endblock %}
