{% from "arns/components/rosh-badge/macro.njk" import roshBadge %}
{% from "mpop/components/pop-header/macro.njk" import popHeader %}

{% if flags.enableSupervisionPackagePoPHeader %}
    {% set calculation = tierDetails.calculation %}
    <div data-qa="new-pop-header">
        {{ popHeader({
                    crn: headerCRN,
                    dob: headerDob | dateWithYear,
                    age: headerDob | yearsSince,
                    historyHref: tierUrlV3
                } | merge(calculation or {}) | merge({ tierScore: (calculation.tierScore if calculation else '') | convertToTitleCase })) }}
    </div>
{% else %}
    <div class="govuk-flex">
        <div>
            <ul class="govuk-list govuk-caption-m inline-list-from-tablet">
                <li>CRN:
                    <span data-qa='crn'>{{ headerCRN }}</span>
                    <span class='govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile'>|</span>
                </li>
                <li>Date of birth:
                    <span data-qa='headerDateOfBirthValue'>{{ headerDob | dateWithYear }}</span>
                    (<span data-qa='headerDateOfBirthAge'>{{ headerDob | yearsSince }} years old</span>)
                    <span class='govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile'>|</span>
                </li>
                <li>
                    <a href="{{ headerTierLink }}" data-qa="tierLink" class="govuk-link">
                        Tier: {{ tierCalculation.tierScore }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
<div class="moj-page-header-actions govuk-!-static-margin-bottom-4">
    <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            <span data-qa='name'>{{ headerPersonName.forename }}{{ ' ' }}{{ headerPersonName.surname }}</span>
        </h1>
        {% set overallRisk = risksWidget.overallRisk %}
        {% if overallRisk == 'VERY_HIGH' %}
            {% set overallRisk = 'VERY HIGH' %}
        {% endif %}
        {% set riskDataRosh = {
                assessments: [
                    {
                        rosh: {
                            name: 'ROSH' if riskData
                                and riskData.assessments
                                and riskData.assessments[0]
                                and riskData.assessments[0].rsr
                                and riskData.assessments[0].rsr.band
                                else 'RISK OF SERIOUS HARM',
                            band: overallRisk
                        }
                    }
                ]
            } %}
        {% if riskData
                and riskData.assessments
                and riskData.assessments[0]
                and riskData.assessments[0].combinedSeriousReoffendingPredictor
                and riskData.assessments[0].combinedSeriousReoffendingPredictor.band != "NOT APPLICABLE" %}
            {{ predictorBadge({
                    data: riskData,
                    predictor: 'combinedSeriousReoffendingPredictor',
                    showScore: true
                }) }}
        {% endif %}
        {% if riskData
                and riskData.assessments
                and riskData.assessments[0]
                and riskData.assessments[0].rsr
                and riskData.assessments[0].rsr.band %}
            {{ predictorBadge({
                    data: riskData,
                    predictor: 'rsr',
                    showScore: true
                }) }}
        {% endif %}
        {% if overallRisk and overallRisk !== 'NOT_FOUND' %}
            {{ predictorBadge({
                    data: riskDataRosh,
                    predictor: 'rosh',
                    showScore: false
                }) }}
        {% endif %}
        {% set normalizedRoshData = roshData %}
        {% if roshData and roshData.assessment and roshData.assessment.overallRisk %}
            {% set normalizedRoshData = {
                    assessment: {
                        overallRisk: roshData.assessment.overallRisk | replace('_', ' '),
                        completedDate: roshData.assessment.completedDate,
                        risks: roshData.assessment.risks
                    },
                    httpStatus: roshData.httpStatus
                } %}
            {{ roshBadge({ data: normalizedRoshData }) }}
        {% endif %}
    </div>
    <div class="moj-page-header-actions__actions">
        {{ headerActions | safe }}
    </div>
</div>
<hr class="govuk-section-break--l">
