{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% if feComponents.header %}
    {{ feComponents.header | safe }}
{% else %}
    {% include "./_fallback_prob_fe_header.njk" %}
{% endif %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a class="govuk-link" href="https://www.smartsurvey.co.uk/t/AAGPPN?service=Manage%20people%20on%20probation" target="_blank" rel="noopener noreferrer">feedback (opens in new tab)</a> will help us improve it.'
}) }}
{% include "partials/_user_navigation.njk" %}
